# Secrets file for passwords etc.
secret.txt

# Ansible Builder Artifacts
context/

# Ansible Navigator artifacts
ansible-navigator.log
*artifact*.json

# VScode junk
.vscode/

aap/inventory_vars/variables.yml
